[submodule "themes/purehugo"]
	path = themes/purehugo
	url = https://github.com/dplesca/purehugo
[submodule "themes/twentyfourteen"]
	path = themes/twentyfourteen
	url = https://github.com/jaden/twentyfourteen
